html {
    height: 100%;
}

body {
    font-family: sans-serif;
    font-size: 0.75em;
    overflow: hidden;
    color: black;
    padding: 10px;
    margin: 0px;
    background-color: gray;
    height: 100%;
}

.box {
    border: 5px solid #ddd;
    padding: 10px;
    background-color: white;
    position: absolute;
    width: 450px;
    height: 250px;
    top: 50%;
    left: 50%;
    margin-top: -115px;
    margin-left: -240px;
}

label {
    text-align: right;
    width: 6em;
    padding-right: 1em;
    display: block;
    float: left;
    margin-top: 5px;
    vertical-align: middle;
}

input {
    vertical-align: middle;
    width: 300px;
}

input[type="checkbox"] {
    margin: 0px;
    margin-top: 6px;
}

.actions {
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    text-align: right;
}

#status {
    color: #aaa;
}
